body {
    display: flex;
    flex-direction: column;
    justify-items: center;
    font-family: Arial, sans-serif;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1003%26quot%3b)'%3e%3c/rect%3e%3cpath d='M1440 0L993.1700000000001 0L1440 186.48z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M993.1700000000001 0L1440 186.48L1440 196.13L981.7800000000001 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M981.78 0L1440 196.13L1440 269.71L466.11 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M466.1100000000001 0L1440 269.71L1440 419.42999999999995L422.5600000000001 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L709.3 560L0 370.28999999999996z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 370.28999999999996L709.3 560L1094.1399999999999 560L0 348.84z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 348.84000000000003L1094.1399999999999 560L1113.1499999999999 560L0 272.83000000000004z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 272.83L1113.1499999999999 560L1220.1699999999998 560L0 248.38z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1003'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='%2300459e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

h1 {
    
    width: 30rem;    
    text-align: center;
    background: radial-gradient(circle, #007BFF, #0056B3);
    place-self: center;
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
    font-size: 3rem;
    color: #fff;
}

/* Estilos para el botón de volver */
.boton-volver {
    display: inline-block;
    padding: 10px 15px;
    margin: 15px;
    width: 4em;
    background-color: #0056b3;
    color: #fff;
    text-decoration: none;
    margin-top: 15px;
    border: 1px solid #121212;
    border-radius: 4px;
    cursor: pointer;
}

.boton-volver:hover {
    background-color: #007BFF;
}

/*Estilos formulario*/

form {
    background-color: #fff;
    max-width: 100%;
    margin: 20px auto;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    margin-left: 15px;
    color: #fff;
    margin: 5px auto;
    font-weight: 600;
    border: 1px solid #121212;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para el popup */
.popup {
    display: none;
    position: fixed;
    width: 45vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #173cb8;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000;
}

#abrir-popup {
    width: 13rem;
}

/* Estilos para el fondo oscuro detrás del popup */
.overlay {
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* Estilos para la tabla */

table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
    justify-self: center;
    align-self: center;
    background-color: #aaa;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #007BFF;
}

tr:nth-child(even) {
    background-color: #ddd;
}

tr:hover td {
    background-color: #00b3ffa1;
}

/* Estilos para los iconos*/

a .ri-delete-bin-line {
    border-radius: 50%;
    font-size: 1rem;
    margin-right: 10px;
    text-decoration: none;
    color: #121212;
    background-color: #ff0000;
    border: 1px #121212 solid;
    padding: 5px;
}

a .ri-edit-line {
    border-radius: 50%;
    font-size: 1rem;
    text-decoration: none;
    color: #121212;
    background-color: #00ff1e;
    border: 1px #121212 solid;
    padding: 5px;
}

a :hover {
    font-size: 1.2rem;
}