body {
    display: flex;
    flex-direction: column;
    justify-items: center;
    font-family: Arial, sans-serif;
    background-color: #17a2b8;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

form {
    background-color: #fff;
    max-width: 100%;
    margin: 20px auto;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    margin-left: 15px;
    color: #fff;
    font-weight: 600;
    border: 1px solid #121212;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para el popup */
.popup {
    display: none;
    position: fixed;
    width: 45vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #173cb8;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000;
}

#abrir-popup{
    width: 13rem;
}

/* Estilos para el fondo oscuro detrás del popup */
.overlay {
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* Estilos para la tabla */
table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
    justify-self: center;
    align-self: center;
    background-color: #007BFF;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #ffffff;
}

tr:nth-child(even) {
    background-color: #007BFF;
}

tr:hover td{
    background-color: #0056b3;
    color: #ddd;
}

/* Estilos para los iconos*/

a .ri-delete-bin-line{
    border-radius: 50%;
    font-size: 1rem;
    margin-right: 10px;
    text-decoration: none;
    color: #121212;
    background-color: #ff0000;
    border: 1px #121212 solid;
    padding: 5px;
}

a .ri-edit-line{
    border-radius: 50%;
    font-size: 1rem;
    text-decoration: none;
    color: #121212;
    background-color: #00ff1e;
    border: 1px #121212 solid;
    padding: 5px;
}

a :hover{
    font-size: 1.2rem;
}